{{ define "base" }}
<html lang="{{ .Lang }}">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <title> {{ template "title" . }} </title>
        <link rel="preconnect" href="https://fonts.googleapis.com"> 
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    </head>

    <body class="bg-skin">
        <header class="centralized-container">
            <h2 class="title-skin"> 
                <span class="title-word-1">love</span><span class="title-word-2">calc</span>.org</span>
            </h2>
        </header>
        <main>
            <article class="centralized-container">
                {{ template "body" . }}
            </article>
        </main>
    </body>
    {{ template "script" . }}
</html>
{{ end }}


