{{ define "base" }}
<html lang="pt-bt">
    <head>
        <meta charset="UTF-8">
        <title> {{ template "title" . }} </title>
    </head>
    <body>
        {{ template "body" . }}
    </body>
</body>
{{ end }}
