:root {
    font-size: 20px;
    font-family: sans-serif;
    color: #444;
}

main {
    padding: 7.5rem;
}

header {
    padding: 0.25rem;
    box-shadow: 0 2.5px 5px rgba(0,0,0,.05);
}

.centralized-container {
    margin: 0 auto;
    text-align: center;
}

.title-skin {
    font-family: "Righteous";
    box-shadow: 1px solid black;
    color: #777;
}

.title-word-1 {
    color: #E84C3B;
}

.title-word-2 {
    color: #039be5;
}

.bg-skin {
    background-color: #FEFEFE;
}

.stacked {
    display: flex;
    flex-direction: column;
}
    
.text-input {
    padding: 0.5rem;
    margin: 0.25rem auto;
}

.text-input-skin {
    border-radius: 10px;
    border: 1px solid #aaa;
    color: #444;
}

.button {
    width: 12rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
}

.button-skin {
    cursor: pointer;
    background-color: #039be5;
    border-radius: 10px;
    font-weight: 500;
    color: white;
    border: none;
    box-shadow: none;
}

@keyframes fade-in {
    from { 
        opacity: 0.00;
    }
    to { 
        opacity: 1.00;
    }
}

.fade-in-button-skin {
    animation-name: fade-in;
    animation-duration: 2s;
    animation-delay: 5s;
    animation-fill-mode: both;
    animation-timing-function: ease-out;
}

@keyframes vertical-fade-in {
    from { 
        margin-top: 5rem; 
        opacity: 0.00;
    }
    to { 
        margin-top: 0; 
        opacity: 1.00;
    }
}

.heart-container {
    position: relative;
    animation-name: vertical-fade-in; 
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

.heart {
    width: 10rem;
    margin: 1rem;
    color: blue;
    display: inline-block;
}

.result-text-skin {
    font-family: "Righteous";
    font-size: 1.5rem;
    color: white;
}

.result-text {
    color: white;
    position: absolute;
    top: 42.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media all and (max-width: 750px) {
    .centralized-container {
        width: 100%;
    }
}
